{
    "presets": ["next/babel"],
    "plugins": [
      [
        "styled-components",
        {
          "ssr": true,
          "displayName": true,
          "preprocess": false
        }
      ],
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@common": "./src/common",
            "@contexts": "./src/contexts",
            "@styles": "./src/styles",
            "@components": "./src/components",
            "@graphql": "./src/graphql",
            "@hooks": "./src/hooks",
            "@lib": "./src/lib",
            "@services": "./src/services",
            "@themes": "./src/themes",
            "@utils": "./src/utils",
            "@layouts": "./src/layouts",
            "@views": "./src/views",
            "@models": "./src/models"
          }
        }
      ]
    ]
  }
  